<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demographic Analysis Dashboard</title>
</head>
<body>
 <div class="chart-section">
        <h2>graph 17</h2>
          <div class="chart-content">
            {{graph17|safe}}
          </div>
       </div>
        <div class="key-findings">
            <h4><i class="fas fa-lightbulb"></i></h4>
            <ul>
                <li>Key Finding 1</li>
                <li>Key Finding 2</li>
                <li>Key Finding 3</li>
                <li>Key Finding 4</li>
            </ul>
        </div>
        
        <div class="chart-section">
            <h2>graph 18</h2>
            <div class="chart-content">
                {{graph18|safe}}
            </div>
        </div>
        <div class="key-findings">
            <h4><i class="fas fa-lightbulb"></i></h4>
            <ul>
                <li>Key Finding 1</li>
                <li>Key Finding 2</li>
                <li>Key Finding 3</li>
                <li>Key Finding 4</li>
            </ul>
        </div>

        <div class="chart-section">
            <h2>graph 19</h2>
            <div class="chart-content">
                {{graph19|safe}}
            </div>
        </div>
        <div class="key-findings">
            <h4><i class="fas fa-lightbulb"></i></h4>
            <ul>
                <li>Key Finding 1</li>
                <li>Key Finding 2</li>
                <li>Key Finding 3</li>
                <li>Key Finding 4</li>
            </ul>
        </div>

        <div class="chart-section">
            <h2>graph 20</h2>
            <div class="chart-content">
                {{graph20|safe}}
            </div>
        </div>
        <div class="key-findings">
            <h4><i class="fas fa-lightbulb"></i></h4>
            <ul>
                <li>Key Finding 1</li>
                <li>Key Finding 2</li>
                <li>Key Finding 3</li>
                <li>Key Finding 4</li>
            </ul>
        </div>
</body>
</html>